<h1>Editing <%= @ad.name %></h1>
<% form_for(@ad, :url=>{:action=>'update'}) do |f| %>
<%= f.error_messages %>
<p>
  <strong>Name</strong><br>
  <%= f.text_field :name %>
</p>
<p>
  <strong>Description</strong><br>
  <%= f.text_area :description %>
</p>
<p>
  <strong>Price</strong><br>
  <%= f.text_field :price %>
</p>
<p>
  <strong>Seller</strong><br>
  <%= f.text_field :seller_id %>
</p>
<p>
  <strong>Email</strong><br>
  <%= f.text_field :email %>
</p>
<p>
  <strong>Img url</strong><br>
  <%= f.text_field :img_url %>
</p>
<p><%= f.submit "Update" %></p>
<% end  %>
