<p>
  <strong>Name:</strong><%= @ad.name %>
</p>
<p>
  <strong>Description:</strong><%= @ad.description %>
</p>
<p>
  <strong>Price:</strong><%= @ad.price %>
</p>
<p>
  <strong>Seller Id:</strong><%= @ad.seller_id %>
</p>
<p>
  <strong>Email:</strong><%= @ad.email %>
</p>
<p>
  <img src="<%= @ad.img_url %>">
</p>
